// All reset styles

* {
    padding: 0;
    margin: 0;
}

html, body {
    height: 100%;
}

body {
    @include flex(row);
    //background-color: $color-tertiary;
    background-color: #FAACA8;
    background-image: linear-gradient(19deg, $color-secondary-l 0%, $color-secondary-xl 100%);

}