// Color Variables

// Primary
$color-primary: #FFAFCC;
$color-primary-l: rgba(255, 175, 204, 0.5);
$color-primary-xl: rgba(255, 175, 204, 0.3);
$color-primary-d: #ff88b4;

// Secondary
$color-secondary: #FFC8DD;
$color-secondary-l: #fedfeb;
$color-secondary-xl:#fde8f0;

// Tertiary
$color-tertiary: #fff4f8;
